@import "tailwindcss";

@theme {
  --color-shopee-orange: #ee4d2d;
  --color-shopee-light: #ff7337;
  --color-shopee-dark: #d0341b;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-800 antialiased;
  }
}

/* Custom styles for hidden scrollbar if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
